{% extends 'electronic/base.html' %}

{% block title %}about{% endblock %}

{% block content %}
<div class="raw">
    <h2>learn more about us...</h2>
    <!-- about us content goes here -->
    <p>Apart from the innovative purposes and all that security cliche you hear about everyday... Electronic has
        something<br>
        far much better in mind. This purpose if for everyone to be able to access government services from everywhere
        they are.<br>
        Equity... that's the word. This is to enable everyone who is of the legal age of applying for the national
        identification
        <br> card ample time and quick access to do so without having to gro through all the trouble it entails.</p>
    <br>

    <h2>Inspiration</h2>
    <p>What inspired me to come up with this project was the urge to solve problems. I always saw people having to wait
        on
        <br> lines for hours before they are tended to by the officials. This was so bad because i went through the
        same.
        <br> So the reason mostly is to try and make life much better and basic things easier to access and do from
        home. <br>
        There was a particular thing that led me to come up with this idea. I, just like all other kids in my age group
        <br>
        had just cleared my high school and went to apply for the national identification card as is the kenyan
        "custom".
        <br> I went to the offices early enough only to find few kids there waiting for the officials to open their
        offices.
        <br> They seemed to tae their time and did not care how long we waited. They soon got set up and the processes
        begun.
        <br> They went on for a while and then it was afternoon. So the officials had to leave for lunch and we had to
        stay
        <br> there and wait for them to finish. That lasted roughly two hours. they soon came and then we completed the
        <br>
        application process. I was very frustrated by the act. To make it worse i couldn't do anything to change the
        situation,
        <br> but i said to myself some day i will make changes and impact the lifes of many and give power back to the
        people.</p>
    <br>
    <h2>Ambition</h2>
    <p></p>
    <br>
</div>
{% endblock %}