{% extends 'electronic/base.html' %}

{% block title %}get_new_id{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12" style="text-align: center;">


        <h3>Fill in the New ID Application Form</h3>
        <p>Kindly use legitimate credentials as contained in your birth certificate!</p>

        <form id="get_id form" action="" method="post">
            <label for="firstname">First Name</label>
            <br>
            <input required type="text" name="firstname">
            <br>
            <label for="secondname">Second Name</label>
            <br>
            <input required type="text" name="secondname">
            <br>
            <label for="lastname">Last Name</label>
            <br>
            <input required type="text" name="lastname">
            <br>
            <label for="dateofbirth">Date of Birth</label>
            <br>
            <input required type="date" name="Date of Birth">
            <br>
            <label for="gender">Gender</label>
            <br>
            <div style="text-align: center">
                <input type="radio" name="gender" value="male"> Male
                <br>
                <input type="radio" name="gender" value="female">Female
                <br>
                <input type="radio" name="gender" value="other" checked> Other
                <br>
            </div>
            <label for="districtofbirth">District of Birth</label>
            <br>
            <input required type="text" name="District of Birth">
            <br>
            <br>
            <button type="submit" onclick="alert('Thank you for using our services')">Submit</button>

        </form>

    </div>
</div>

{% endblock %}