{% extends 'electronic/base.html' %}

{% block title %}replace_id{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class=" col-md-4  text-center">

        <!--
        <h3>Get your Identification Card Information Here!</h3>
        <p>Kindly use your ID Number and password here! -->
        {% if request.user.person.id_status %}
                <div id="success_status" class="text-center" >
                     Your ID has been processed!
                </div>
        {% else%}
                <div id="not_ready" class=" text-center ">
                     Your Id is being processed!
                 </div>
        {% endif%}
        </div>
    </div>
</div>


{% endblock %}alafu