{% extends 'electronic/base.html' %}

{% block title %}replace_id{% endblock %}

{% block content %}

 <div class="container">
    <div class="col-md-12" style="text-align: center;">


<h3>Get your Identification Card Information Here!</h3>
<p>Kindly use your ID Number and password here!</p>

<form id="get_id form" action="" method="post">
    <label for="idnumber/email">ID Number/ Email</label>
    <br>
  <input required type="text" name="idnumber/email">
    <br>
    <label for="password">Password</label>
    <br>
  <input required type="password" name="password">
    <br>
  <br>
<button type="submit" onclick="alert('Thank you for using our services')">Submit</button>

</form>

    </div>
    </div>


{% endblock %}