{% extends 'electronic/landing.html' %}

{% block title %}login{% endblock %}


{% block content %}
<div class="container">
    <div class="col-md-12" style="text-align: center;">

        <h2>Welcome</h2>
        <p>You can log in here</p>
        <p class="text-danger">{{ error_msg }}</p>

        <form id="login-form " action="{% url 'electronic:login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <br>
            <input required type="text" id="username" name="username">
            <br>
            <label for="password">Password</label>
            <br>
            <input required type="password" id="password" name="password">
            <br>
            <br>

            <button type="submit" name="login" value="login">Login</button>
        <p>Don't have an account?<a class="" href="{% url 'electronic:registration_form' %}" role="">Register Here &raquo;</a></p>
            <div class="checkbox ">
                <label>
                    <input required type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                </label>
                <p  style="text-color:black;">I agree to Terns & Conditions</p>

            </div>
        </form>
    </div>
</div>

{% endblock %}
