{% extends 'electronic/base.html' %}

{% block title %}replace_id{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-12" style="text-align: center;">


<h3>Register for ID replacement here!</h3>
<p>Kindly use the correct information that you used on your previous identification card</p>

<form id="get_id form" action="" method="post">
    <label for="firstname">First Name</label>
    <br>
  <input required type="text" name="firstname">
    <br>
    <label for="secondname">Second Name</label>
    <br>
  <input required type="text" name="secondname">
    <br>
    <label for="lastname">Last Name</label>
    <br>
  <input required type="text" name="lastname">
    <br>
    <label for="previdnumber">Previous ID Number</label>
    <br>
  <input required type="number" name="Previous ID Number">
    <br>
  <br>
<button type="submit" onclick="alert('Thank you for using our services')">Submit</button>

</form>

    </div>
    </div>


{% endblock %}